{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Carte et menus{% endblock %}

{% block body %}

{# ---------- Section carte du restaurant ---------- #}
<section class="w-full text-center">
    <h1 class="text-4xl mt-14">Quai Antique</h1>
    <h2 class="text-2xl">Carte du restaurant</h2>
    <div class="flex flex-row flex-wrap justify-around">
    {% for category in categories %}
        <div class="text-center max-w-md m-8">
        <h2 class="text-xl">{{ category.title }}</h2>
            {% for dish in dishes %}
                {% if dish.category.title == category.title %}
                    <div class="max-w-lg mx-auto mt-4">
                        <h3 class="text-xl"> {{ dish.title }} - <span class="text-lg">{{ (dish.price / 100) | format_number({fraction_digit : 2}) }}€</span></h3>
                        <p>
                            {{ dish.description }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="flex space-x-2 justify-center mt-10">
        <a class="inline-block px-11 py-2.5
                    bg-gold-brown
                    text-white font-medium text-xs leading-tight uppercase
                    rounded shadow-md
                    hover:shadow-lg hover:scale-110
                    focus:shadow-lg focus:outline-none focus:ring-0
                    active:shadow-lg transition duration-150 ease-in-out"
           href="{{ path('app_book_table') }}"
           role="button"
           data-mdb-ripple="true"
           data-mdb-ripple-color="light"
        >Réserver</a>
    </div>
</section>

    <div class="img-menu w-full h-24 bg-black my-24 flex justify-center items-center">
        <p class="text-lg text-gold-brown">Si l'authenticité était une personne, elle serait notre chef étoilé.</p>
    </div>

{# ---------- Section Menu du restaurant ---------- #}
    <section class="w-full text-center">
        <h2 class="text-2xl">Menus</h2>
        <div class="flex flex-row flex-wrap justify-around">
            {% for menu in menus %}
                <div class="max-w-md mx-auto m-8">
                    <h3 class="text-xl"> {{ menu.title }} - <span class="text-lg">{{ (menu.price / 100) | format_number({fraction_digit : 2}) }}€</span></h3>
                    <p>
                        {{ menu.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="flex space-x-2 justify-center mt-10">
            <a class="inline-block px-11 py-2.5
                    bg-gold-brown
                    text-white font-medium text-xs leading-tight uppercase
                    rounded shadow-md
                    hover:shadow-lg hover:scale-110
                    focus:shadow-lg focus:outline-none focus:ring-0
                    active:shadow-lg transition duration-150 ease-in-out"
               href="{{ path('app_book_table') }}"
               role="button"
               data-mdb-ripple="true"
               data-mdb-ripple-color="light"
            >Réserver</a>
        </div>
        <div class="my-24">

        </div>
    </section>
{% endblock %}
