{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Accueil{% endblock %}

{% block body %}
    <!-- Image Banner -->
    <div class="imgBanner text-center relative overflow-hidden bg-no-repeat bg-cover">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed">
            <div class="flex justify-center items-end h-full">
                <div class="text-gold-brown my-6">
                    <h1 class="font-semibold text-xl mb-12">Authentique et raffiné</h1>
                    <a class="inline-block px-11 py-3 mb-1 border-2 border-gold-ligth text-gold-brown font-medium text-sm leading-snug uppercase rounded hover:scale-110 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                       href="{{ path('app_book_table') }}"
                       role="button"
                       data-mdb-ripple="true"
                       data-mdb-ripple-color="light"
                    >Réserver</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Banner -->


    <!-- Images plats -->
    <section class="overflow-hidden text-gray-700">
        <div class="container px-2 mx-auto mt-24 lg:px-12">
            <h2 class="text-6xl text-center mb-10">Nos spécialités à déguster</h2>
            <div class="flex flex-wrap -m-1 md:-m-2">
                {% for image in images %}
                    {% if image.title != 'imageBanner' %}
                        <div class="flex flex-wrap md:w-1/3">
                            <div class="w-full p-1 md:p-2">
                                <img alt={{ image.title }}
                                     title={{ image.title }}
                                     src="uploads/images/{{ image.file }}"
                                     class="block object-cover object-center w-full h-full rounded"/>
                            </div>
                        </div>
                    {% else %}
                        <div class="hidden"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="flex space-x-2 justify-center mt-10">
                <a class="inline-block px-11 py-2.5
                    bg-gold-brown
                    text-white font-medium text-xs leading-tight uppercase
                    rounded shadow-md
                    hover:shadow-lg hover:scale-110
                    focus:shadow-lg focus:outline-none focus:ring-0
                    active:shadow-lg transition duration-150 ease-in-out"
                    href="{{ path('app_book_table') }}"
                    role="button"
                    data-mdb-ripple="true"
                    data-mdb-ripple-color="light"
                >Réserver</a>
            </div>
        </div>
    </section>
    <!-- Images plats -->

    <div class="text-center mt-20">
        <h2 class="text-6xl">Nos ingrédients locaux</h2>
        <p>Tous nos ingrédients sont de chez nous. <br> Nos producteurs sont nos voisins ! <br> Nos régions ont du talent !</p>
    </div>

    <div id="contact" class="text-center mt-20">
        <h2 class="text-6xl">Contact</h2>
        <p>
            Nous sommes joignables via les réseaux sociaux mais aussi depuis les coordonnées ci-dessous: <br>
            <strong class="text-xl">Quai Antique</strong> <br>
            259 rue de la Maréchalerie <br>
            73000 Chambéry <br>
            O9.99.97.O6.25 <br>
            <a href="mailto:mathieuvd64@gmail.com">quai_antique@gmail.com</a>
        </p>
    </div>
{% endblock %}
