<nav class="z-10
relative
w-full
flex flex-wrap
items-center
justify-between
py-4
bg-gray-100
text-gray-800
focus:text-gray-400
navbar navbar-expand-lg navbar-light
">
    <div class="container-fluid w-full flex flex-wrap items-center justify-center px-6">
        <button class="
        navbar-toggler
        text-gray-800
        border-0
        hover:shadow-none hover:no-underline
        py-2
        px-2.5
        bg-transparent
        focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                 class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </button>
        <div class="collapse navbar-collapse flex-grow items-center align-middle w-full" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav text-xl flex flex-col items-center pl-0 list-style-none mx-auto my-2">
                <li class="nav-item px-10 py-2">
                    <a class="nav-link text-gray-800 hover:text-gray-400 focus:text-gray-700 p-0" href={{ path('app_book_table') }}>Réservation</a>
                </li>
                <li class="nav-item px-10 py-2">
                    <a class="nav-link text-gray-800 hover:text-gray-400 focus:text-gray-700 p-0" href={{ path('app_home') }}>Accueil</a>
                </li>
                <li class="nav-item lg:px-12 lg:h-10 py-2 lg:py-0">
                    <div class="flex flex-col items-center">
                        <div class="hidden lg:block"><img src="{{ asset('uploads/images/utilisateur.png') }}" width="32" height="32" alt="compte" class="cursor-pointer"></img></div>
                        <a class="nav-link text-gray-800 hover:text-gray-400 focus:text-gray-700 p-0 block" href={{ path('app_login') }}>Mon compte</a>
                    </div>
                </li>
                <li class="nav-item px-10 py-2">
                    <a class="nav-link text-gray-800 hover:text-gray-400 focus:text-gray-700 p-0" href={{ path('app_menu_card') }}>Carte et Menus</a>
                </li>
                <li class="nav-item px-10 py-2">
                    <a class="nav-link text-gray-800 hover:text-gray-400 focus:text-gray-700 p-0" href={{ path('app_home') }}>Contact</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
</nav>
