
<footer class="bg-gray-100 text-center lg:text-left w-full mt-20">
    <div class="container p-4 mx-auto">
        <div class="flex flex-col md:flex-row justify-around items-center w-full">
            <div class="mb-6 text-center">
                <h2 class="uppercase font-bold mb-2.5 text-gray-800">Horaires</h2>
                <ul class="list-none mb-0">
                    {% for schedule in schedules %}
                        {% if not schedule.AMopeningHours %}
                            <li><span class="font-bold">{{ schedule.days }}</span> : Fermé</li>
                        {% else %}
                            <li><span class="font-bold">{{ schedule.days }}</span> :
                                {{ schedule.AMopeningHours|date('H \\h i') }} / {{ schedule.AMclosingHours|date('H \\h i') }}
                                 et
                                {{ schedule.PMopeningHours|date('H \\h i') }} / {{ schedule.PMclosingHours|date('H \\h i') }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="mb-6">
                <ul class="list-none mb-0 flex justify-between w-72">
                    <li>
                        <a href="#!" class="text-gray-800">Confidentialité</a>
                    </li>
                    <li>
                        <a href="#!" class="text-gray-800">Mentions légales</a>
                    </li>
                </ul>
            </div>

            <div class="mb-6">
                <ul class="list-none mb-0 flex">
                    <li class="mx-2">
                        <a href="#!" class="text-gray-800"><img src="{{ asset('uploads/images/twitter.png') }}" alt="twitter"></a>
                    </li>
                    <li class="mx-2">
                        <a href="#!" class="text-gray-800"><img src="{{ asset('uploads/images/facebook.png') }}" alt="facebook"></a>
                    </li>
                    <li class="mx-2">
                        <a href="#!" class="text-gray-800"><img src="{{ asset('uploads/images/linkedin.png') }}" alt="linkedin"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-gray-800" href="https://mat-site-web.com/">Mathieu VAN DAMME</a>
    </div>
</footer>
